{% extends 'base.html.twig' %}

{% block title %}Modification Chantier{% endblock %}

{% block body %}
<style>
    body {
        color: white;
    }
</style>

	<h1 class ="py-3">Modification de chantier</h1>
    
    <div class"d-flex justify-content-center align-items-center mt-5 form-control">
        {% if app.user %}
            <p>Bienvenue, {{ app.user.username }}!</p>
        {% else %}
            <p>Veuillez vous connecter pour modifier le chantier.</p>
        {% endif %}
    </div>

	{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

	{{ form_row(form.nom) }}
	{{ form_row(form.description) }}
	{{ form_row(form.date) }}
	{{ form_row(form.image) }}
    
	<div class ="py-5">
        {{ include('chantier/_form.html.twig', {'button_label': 'Mise à jour'}) }}
		<button class="btn btn-success">Sauvegarder</button>
		<a href="{{ path('app_chantier_index') }}" class="btn btn-secondary">Retour à la liste</a>
	</div>
	{{ form_end(form) }}

{% endblock %}
