{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1 style = "color:white;">Liste des chantiers recent</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.id }}</td>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.description }}</td>
                <td>{{ chantier.image }}</td>
                <td>{{ chantier.date ? chantier.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_chantier_show', {'id': chantier.id}) }}">show</a>
                    <a href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun chantier trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chantier_new') }}" class ="btn btn-primary">Créer un nouveau chantier</a>
{% endblock %}
