{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1 style = "color:white; text-align:center;" class="my-5">Liste des chantiers recent</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.id }}</td>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.description }}</td>
                <td>{{ chantier.image }}</td>
                <td>{{ chantier.date ? chantier.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                <div class="d-flex gap-2 flex-wrap">
                    <a class="btn btn-info" href="{{ path('app_chantier_show', {'id': chantier.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('app_chantier_delete', {'id': chantier.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chantier.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun chantier trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chantier_new') }}" class ="btn btn-primary">Créer un nouveau chantier</a>
{% endblock %}
