{% extends 'base.html.twig' %}

{% block title %}Creation nouveau Chantier
{% endblock %}

{% block body %}
	<style>
		body {
			color: white;
		}
	</style>
	<h1 class ="py-3">Ajouter un nouveau chantier</h1>

	{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

	{{ form_row(form.nom) }}
	{{ form_row(form.description) }}
	{{ form_row(form.date) }}
	{{ form_row(form.image) }}
    
	<div class ="py-5">
		<button class="btn btn-success">Sauvegarder</button>
		<a href="{{ path('app_chantier_index') }}" class="btn btn-secondary">Retour à la liste</a>
	</div>
	{{ form_end(form) }}
{% endblock %}
