{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1>Chantier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chantier.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chantier.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ chantier.image }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ chantier.date ? chantier.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chantier_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('app_chantier_edit', {'id': chantier.id}) }}" class="btn btn-primary">edit</a>

    {{ include('chantier/_delete_form.html.twig') }}
{% endblock %}
